/**
 * lay out
 */
.wrapper
  min-height: 100%
  background: $background-color
  max-width: $wrapper-max-width
  margin: auto


/**
 * Icons
 */
.icon
  > svg
    display: inline-block
    width: 16px
    height: 16px
    vertical-align: middle
    @include media-min($on-palm)
      width: 21px
      height: 21px
    @include media-min($on-laptop)
      width: 16px
      height: 16px


    path
      fill: $grey-color


/**
 *
 */
