/**
 * lay out
 */
.wrapper
  min-height: 100%
  background: $background-color
  max-width: $wrapper-max-width
  margin: auto


/**
 * Icons
 */
.icon
  > svg
    display: inline-block
    width: 16px
    height: 16px
    vertical-align: middle
    @include media-min($on-palm)
      width: 21px
      height: 21px
    @include media-min($on-laptop)
      width: 16px
      height: 16px


    path
      fill: $grey-color



/**
 * Blockquotes
 * markdown 里面的 > 之后的片段
 */
blockquote
  color: $grey-color
  border-left: 4px solid $grey-color-light
  padding-left: $spacing-unit-2
  font-size: $base-font-size - 1
  letter-spacing: -1px
  font-style: italic

  > :last-child
    margin-bottom: 0
